/*Nav*/
body {  
  margin: 0 240px 0 240px;
  font-family: 'Roboto', sans-serif;
}

a, body {
    color: #32323d;
}

.header {
  padding-top: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 2;
}

.top-bar-inner {
    display: flex;
}

.menu-bar {
    top: 70px;
    left: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

ul li {
    text-transform: uppercase;
    margin-right: 15px;
    position: relative;
}

ul li a.nav-link {
	display: block;
  padding-bottom: 15px;
}

ul li a.nav-link:hover {
  border-bottom: 2px solid #65509e;
}

table tr {
	text-transform: capitalize;
}

a:hover {
  color: #6e55b4;
  text-decoration: none;
}

.z-logo {
    background-image: url('https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg');
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 32px;
    background-size: cover;
    font-size: 0px;
    margin-left: 18px;
    margin-right: 25px;
}

.user-profile {
  margin-top: -2px;
  margin-left: 50px;
  display: flex;
}

.fa-user-circle {
  color: #cad0dc;
  margin-right: 5px;
  font-size: 40px;
}

.chevron {
  color: #62666d;
  padding-top: 10px;
}

ul li table {
	display: none;
	position: absolute;
	background-color: #fff;
  border-collapse: collapse;
  padding: 15px 0px;
}

ul li:hover table {
	display: block;
  transition: transform all .3s;
}

ul li table tr {
	text-align: left;
}

ul li table tr th {
	text-transform: uppercase;
	white-space: nowrap;
	padding: 12px 30px;
}

ul li table tr td {
  padding: 12px 15px;
  font-weight: 400;
}

ul li table tr td a{
	padding: 5px;
	white-space: nowrap;
	transition: transform all .3s;
}

ul li table tr td:hover {
	color: #65509e !important;
	background-color: #d7d7db;
}

.carousel {
  margin-top: 60px;
}

/*Login Footer */
.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/image/banner.png");
  border-radius: 4px;
  padding: 15px 0;
  margin: 30px 5px;
  font-weight: 700;
}

.login-footer .z-logo {
  background-image: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.login-footer .content {
  color: #fff;
  font-size: 17px;
  margin: 0 113px 0 22px;
}

.login-footer .login-button {
  background-color: #fdd100;
  padding: 4px 12px;
  font-size: 15px;
  color: #fff;
  border-radius: 4%;
  text-transform: uppercase;  
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.login-button:hover {
  color: #6e55b4;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

/* Recent Listen*/
.recent-listen {
  margin-top: 20px;
}

.box-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column;
}

.column-2 {
  display: flex;
}

.card-img {
  height: 190px;
  width: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}

.box-album .card-overlay {
  background-color: #000000ba;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.box-album:hover .card-overlay {
  opacity: 1;
}

.far {
  font-size: 50px;
  color: #ffffffe6;
}

.box-album .card-overlay .fa-play-circle {
  transform: scale(0.8);
  transition: all 0.5s;
}

.box-album:hover .card-overlay .fa-play-circle {
  transform: scale(1);
}

.boxcard-info {
  margin-top: 10px;
  margin-bottom: 3px;
}

.boxcard-info {
  font-weight: 500;
}

.box-album {
  margin: 0 40px 0 0;
  width: 190px;
}

.boxcard-info .box-album-title {
  text-decoration: none;
}

.card-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/8/0/7/7807ecce36bc39abe4d7fc6a9f948234.jpg");
}

.card-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/8/f/a/58fa09c76ee4ed9fd2e00b2d2ac3f8ac.jpg");
}

.card-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/e/b/d/7ebdb5a71ea69e0d94c61d8cbdf94029.jpg");
}

.card-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/0/c/c/e0cc057592f82b208a3f7cf80285e7d3.jpg");
}

.card-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/2/8/e/c/28ec8212ea1ade2012f6e8e03df36635.jpg");
}

.card-img-6 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/b/b/4/d/bb4d05a07701730462847acabc746bc8.jpg");
}

.card-img-7 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/b/6/d/3/b6d3f9b17c9a3e7a0ce1ff9edd972b76.jpg");
}

.card-img-8 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/c/c/b/9ccbda96115f168b071d7d3faee01121.jpg");
}

.card-img-9 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/c/f/3/0/cf307073689e62be353c5af3566bbeff.jpg");
}

.card-img-10 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/e/4/4/ae44adda0432b9dd3dcc113d962b4d9b.jpg");
}

.card-img-11 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/c/5/1/7/c517503186e75955a18de7c5c0635992.jpg");
}

.card-img-12 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/6/3/5/7635d3675861a2f9fd1b40565a6a7cc3.jpg");
}

.card-img-13 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/6/8/53683d1ee75daec1c925085c28afe8d1.jpg");
}

.card-img-14 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/covers/f/0/f0f705c66f24235a629b257608058d18_1519804914.jpg");
}

.card-img-15 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/5/b/1/a5b1f6b46679bf8565bd8fdfa5bddf91.jpg");
}

/*Zing chart*/
.zingchart-img {
  margin: 20px 25px 30px 35px;
}

.zingchart-week {
  margin: 20px 10px;
}

.zingchart-week .row {
  display: flex;
  flex-direction: row;
}

.zchart-card {
	margin: 0 16px 10px 0;
	padding: 0 10px;
}

.zchart-card a {
	display: inline-block;
	overflow: hidden;
}

.zchart-card img{
	width: 242px;
	height: 60px;
	border-radius: 2px;
	transition: transform 0.5s linear;
}

.zchart-card:hover img{
	transform: scale(1.1);
}

/*zing choice artist*/
.col-album-circle {
  display: flex;
  background-image: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/spotlight-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
  height: 150px;
  width: 300px;
  justify-content: center;
  align-items: center;
	margin-right: 10px;
}

.z-choice-img a {
  border-radius: 50%;
	display: inline-block;
	overflow: hidden;
  margin: 0 10px;
}

.z-choice-img a img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
	transition: transform 0.5s ease-in-out;
}

.z-choice-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 20px;
  flex-grow: 1;
}

.spotlight-bag {
  background: rgb(229, 0, 249);
  background: linear-gradient(135deg, rgba(229, 0, 249, 1) 0%, rgba(226, 16, 211, 1) 40%, rgba(89, 31, 205, 1) 100%);
  width: auto;
  height: 16px;
  border-radius: 10%;
  display: flex;
}

.fa-star {
  font-size: 10px;
  align-items: center;
  margin: 2px 2px 2px 4px;
  color: #fff;
}

.spotlight-bag span {
  font-size: 10px;
  align-items: center;
  padding: 1px 5px 0 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.z-choice-artist a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #32323d;
}

.col-album-circle:hover .z-choice-img a img {
  transform: scale(1.1);
}

.zingchoice {
	display: flex;
  margin-bottom: 30px;
}

/*Top 100 best song*/
.top100-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/e/1/b/fe1b806c9dd1bae58f041a4512dd956a.jpg");
}

.top100-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/6/f/3/6/6f3688c38de70cd69dd2919d6a7ad318.jpg");
}

.top100-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/b/0/8/db08e3dfca2b3b24dc84eeda62418dff.jpg");
}

.top100-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/2/6/4/f26467e87075a96bf974a8c49450bad5.jpg");
}

.top100-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/1/1/9/4119c57ad5983a1cd632f654c3c6c233.jpg");
}

.top-100 {
  margin-bottom: 30px;
}

/*Top new song*/
.top-newsong {
  margin-bottom: 50px;
}

.top-new-song {
	display: flex;
}

.card-newsong {
  display: flex;
	padding: 10px;
	margin-right: 20px;
	overflow: hidden;
	width: 349px;
  box-shadow: 0px 0px 20px 0px #82d7e047; 
}

.card-newsong-img {
  height: 120px;
  width: 120px;
  border-radius: 4%;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/f/1/c/0/f1c06ed70e6be6be9572d99daf5ecc53.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-newsong-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/f/1/c/0/f1c06ed70e6be6be9572d99daf5ecc53.jpg");	
}

.card-newsong-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/5/9/c/f/59cffed80f457f20cd3ea75b1c303c36.jpg");	
}

.card-newsong-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/7/1/0/1/71016e579c3ffbc4e81691b3ee99d443.jpg");	
}

.card-newsong-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/b/a/a/e/baae334f1b3939820bb06702ef9614d7.jpg");	
}

.card-newsong-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/1/b/c/9/1bc972a51247ac4a1c899f27bdfabf17.jpg");	
}

.card-newsong-img-6 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/d/6/8/1/d68152563b8d3bce473b3d515a0219df.jpg");	
}

.card-newsong-img-7 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/3/7/d/0/37d06f31946caaedac6d56f20f695206.jpg");	
}

.card-newsong-img-8 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/1/f/4/a/1f4ab0b217bfdc03f61e3e3ded51afca.jpg");	
}

.card-newsong-img-9 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/5/7/3/5/5735df54dd239cd283f041a42480550a.jpg");	
}

.card-newsong-img .card-newsong-overlay {
  background-color: #000000ba;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.card-newsong:hover .card-newsong-overlay {
  opacity: 1;
}

.far {
  font-size: 50px;
  color: #ffffffe6;
}

.card-newsong .card-newsong-overlay .fa-play-circle {
  transform: scale(0.8);
  transition: all 0.5s;
}

.card-newsong:hover .card-newsong-overlay .fa-play-circle {
  transform: scale(1);
}

.card-newsong-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
}

.card-newsong-info a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #32323d;
}

.card-newsong-info .newsong-title {
  flex-grow: 0;
}

.card-newsong-info .newsong-artist a {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  color: #a0a0a0;
  flex-grow: 0;
}

.m-newsong-info {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;  
}

.m-newsong-info .order {
  font-size: 50px;
  font-weight: 900px;
  text-shadow: 2px 2px 2px rgba(102, 69, 193, 0.5);
  color: #fff;
  flex-grow: 1;
}

.m-newsong-info .release-day {
  color: #dbdbdb;
  font-size: 12px;
}

.row-2 {
  margin-bottom: 10px;
}

#carouselExampleSlidesOnly {
  margin-top: 0;
}

.row-newsong {
  display: flex;
}

.col {
  margin: 0 20px 0 -12px;
}

.z-card {
  display: flex;
  width: 300px;
	margin: 7px 10px;
}

.z-card:hover {
  background-color: #f7f7f7;
}

.z-card-img{
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3%;
  margin-right: 10px;
  flex-grow: 0;
}

.z-card-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/6/1/6/e/616e8a68399303bc16c11aa6d6720e58.jpg");	
}

.z-card-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/c/b/1/3/cb13e1bf14943b195563eca4003275db.jpg");	
}

.z-card-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/b/8/f/f/b8ff3e8f9f101a3a426cb202d95a0773.jpg");	
}

.z-card-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/f/8/4/d/f84de59da17dab6e057a9c3327dd001f.jpg");	
}

.z-card-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/b/a/a/e/baae334f1b3939820bb06702ef9614d7.jpg");	
}

.z-card-img-6 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/1/b/7/f/1b7fca00e4a123e139b416fb2d041e08.jpg");	
}

.z-card-img-7 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/5/9/c/f/59cffed80f457f20cd3ea75b1c303c36.jpg");	
}

.z-card-img-8 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/1/f/4/a/1f4ab0b217bfdc03f61e3e3ded51afca.jpg");	
}

.z-card-img-9 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/a/a/0/8/aa0852be0b1aed77fec4cc9841d29752.jpg");	
}

.z-card-img-10 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/d/6/8/1/d68152563b8d3bce473b3d515a0219df.jpg");	
}
.z-card-img-11 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/1/b/c/9/1bc972a51247ac4a1c899f27bdfabf17.jpg");	
}

.z-card-img-12 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/f/1/c/0/f1c06ed70e6be6be9572d99daf5ecc53.jpg");	
}

.z-card-img-13 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/5/6/f/1/56f1e4f73ad8312394ab419844f6f0bb.jpg");	
}

.z-card-img-14 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/0/c/1/2/0c124cef90185237bf473fd8c830329a.jpg");	
}

.z-card-img-15 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/0/9/0/80906671e274798cce2c4574a0034354.jpg");	
}

.z-card .z-card-img .z-card-overlay {
  background-color: #000000ba;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.z-card:hover .z-card-img .z-card-overlay {
  opacity: 1;
}

.z-card-overlay .fa-play {
  font-size: 15px;
  color: #ffffffe6;
}

.z-card .z-card-img .z-card-overlay .fa-play {
  transform: scale(0.8);
  transition: all 0.2s;
}

.z-card:hover .z-card-img .z-card-overlay .fa-play {
  transform: scale(1);
}

.z-card-info {
  flex-grow: 1;
  display: flex;
}

.z-card-info a {
  text-decoration: none;
  font-size: 14px;
  color: #32323d;
}

.z-card-info .artist a {
  color: #888;
  font-size: 12px;
  font-weight: 400;
}

.z-card-info .song-title {
  font-size: 14px;
  font-weight: 700;
}

.z-card-info .song-info {
  flex-grow: 1;  
}

.option {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-ellipsis-h {
  color: #0000009e;
}

.z-card:hover .option {
  opacity: 1;
}
/*Album Hot*/
.album-hot {
  margin-bottom: 30px;
}
.box-album-artist {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  margin: 0 2px 0 0;
}

.album-hot-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/7/d/0/37d06f31946caaedac6d56f20f695206.jpg");
}

.album-hot-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/4/f/f/d4ff9f628e830a1ed46ab535abddbbda.jpg");
}

.album-hot-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/8/7/d/e/87dec4a5bd5551cc5ac12279a986ea65.jpg");
}

.album-hot-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/f/b/2/ffb250a9b008193fc4b06c292e9f4486.jpg");
}

.album-hot-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/e/8/9/ae893014b2a1693036dd91d0b816ba4e.jpg");
}

/*featured radio*/
.featured-radio {
  margin-bottom: 30px;
}

.featured-radio-img-1 {
  background-image: url("https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sJ40DDvusWhPFLWjyd6lGi1jJ0odEFeooI0O2APrdZR5B2m9xpcAAiL1H4NZ29DYY5mL7Bfr-xUaDuvQc1XaKAFk3K-WZ-dpMLHDsmqOflI0rqp-i-0&size=thumb/240_240");
}

.featured-radio-img-2 {
  background-image: url("https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-s6q02DyqstRPBML0iosQ3j4W63IgTRTNY505RU91irkL430vzp3RSi585Htd0S8wZ5L4HBvyggU10KmCWc2ghvkx38MW8Ut57c6poAeWYVG&size=thumb/240_240");
}

.featured-radio-img-3 {
  background-image: url("https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sJ41NDyisZxOQ35ChdpEBv4mELNEOOOo_7WbMTPSoZUmMMGTsm6RRxLvLG2JC88d-6G4MSfDwjhJWa3uw4mfi-iHpmZbMVG&size=thumb/240_240");
}

.featured-radio-img-4 {
  background-image: url("https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sJ40DDvasWhP8LWnyoJlLiKjJ2ohDEe7cILOCVfizXUGOLrTwdsY5v05R7YsJBjVtHWz8UynqwnFTGo3-ZA1eS6KwAQltVG&size=thumb/240_240");
}

.featured-radio-img-5 {
  background-image: url("https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-s7a0CDvmsqhOVLmijcJs2inzSN2NCPexeILrITS0psED13rTxms6Av5rI4ItF9zZt6WP7Uv1zxpIRZIJKJ3LqszmWNDLCEDaJtdq&size=thumb/240_240");
}

/*US-UK Music*/
.us-uk {
  margin-bottom: 30px;
}

.us-uk-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/d/5/3/7d53d5a113441f171c6cadefb03b7525.jpg");
}

.us-uk-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/5/4/9/f549dd1ea812f87233038b5be9f83430.jpg");
}

.us-uk-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/8/f/d/f8fdaec12e02f671f7b56113c11b462f.jpg");
}

.us-uk-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/1/6/c/f/16cfc47d9d5c00b082dd6a6173135a3e.jpg");
}

.us-uk-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/c/0/9/fc09fbbb3cd5e2c43ffc65ba383ef4ce.jpg");
}

/*Kpop Music*/
.kpop {
  margin-bottom: 30px;
}

.kpop-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/9/a/0/49a03953ffe094fbdc090b47f9659062.jpg");
}

.kpop-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/1/d/2/6/1d269d96ce36ba57414da321b845f16e.jpg");
}

.kpop-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/c/8/c/4c8ca48f0658b7c8627c80245f2f9c4b.jpg");
}

.kpop-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/b/6/8/9b68b50ccf809757029ed7a9f29c7cc4.jpg");
}

.kpop-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/1/1/8/3/11835ec64859d3d616519d2c7159ad8c.jpg");
}

/*C-pop*/
.cpop {
  margin-bottom: 30px;
}

.cpop-img-1 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/0/a/0/7/0a07188481a1d3b5a8b151f8a3294835.jpg");
}

.cpop-img-2 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/4/c/2/74c242740127c09ee89df038a56f5fa1.jpg");
}

.cpop-img-3 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/0/4/0/e0409f3e0ad757e9542695a29a0c2d60.jpg");
}

.cpop-img-4 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/d/5/2/ed523c102dfd4bf99930ceecd4814c75.jpg");
}

.cpop-img-5 {
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/6/f/426f70ed262e2bf0a7289216ec636559.jpg");
}

/*category & activity-mood*/
.category, .activity-mood {
  margin-bottom: 30px;
}

.category-row {
	padding: 0 10px;
	margin-right: 10px;
	display: flex;
}
.topic-cards {
	height: 107px;
  width: 190px;
	margin-right: 40px;
}
.topic-cards img{
	position: absolute;
	height: 107px;
  width: 190px;
	border-radius: 4px;
}
.img .overlay {
	position: absolute;
	height: 107px;
  width: 190px ;
	background: linear-gradient(179.59deg, rgba(0, 0, 0, 0) 49.64%, rgba(0, 0, 0, 0.78) 99.32%);
	border-radius: 4px;
}
.img span {
	position: absolute;
	color: #fff;
	width: 190px;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	padding-top: 60px;
	transition: all 0.5s;
}

.topic-cards:hover .img span {
	padding-top: 40px;
}

/*MV hot*/
.top-5-mv-hot {
  margin-bottom: 30px;
}

.mv-hot {
  display: flex;
}
.top-mv-hot {
    width: 600px;
    height: 338px;
    overflow: hidden;
    margin-right: 10px;
}
.mv-hot-img {
    position: absolute;
    width: 600px;
    height: 338px;
    overflow: hidden;
    z-index: 1;
}

.mv-hot-img img {
    border-radius: 2px;
    transition: transform 0.5s linear;
}

.mv-hot-info {
  margin: -60px 25px 15px 20px;
  position: relative;
  z-index: 3;
}

.mv-hot-info .mv-hot-title a{
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    color: #fff;
}

.mv-hot-info .mv-hot-artist {
    padding-bottom: 5px;
}

.mv-hot-info .mv-hot-artist a{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    color: #fcfcfc;
}

.mv-hot-img .opacity {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.5));
    z-index: 2;
}

.mv-hot-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    opacity: 0;
    transition: all 0.5s;
}

.top-mv-hot:hover .mv-hot-overlay {
    opacity: 1;
}

.top-mv-hot:hover .mv-hot-info {
    opacity: 0;
}

.top-mv-hot:hover .mv-hot-img img {
    transform: scale(1.05);	
}

.mv-hot-card {
	width: 190px;
	display: flex;
	flex-direction: column;
}
.mv-hot-card-img {
	position: absolute;
	width: 190px;
	height: 109px;	
}

.mv-hot-image {
	position: absolute;
	width: 190px;
	height: 109px;
	overflow: hidden;
	border-radius: 2px;
}

.mv-hot-image img{
	width: 190px;
	height: 109px;
	transition: transform 0.5s linear;
}
.mv-hot-card-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 190px;
	height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius: 2px;
	opacity: 0;
}

.mv-hot-card-info {
	margin-top: 115px;
}

.mv-hot-card-info .mv-hot-card-title {
  font-weight: 500;
}

.mv-hot-card-info .mv-hot-card-artist a {
	color: #a0a0a0;
  font-size: 12px;
  font-weight: 400;
}

.mv-hot-card:hover .mv-hot-image img{	
	transform: scale(1.05);
}

.mv-hot-card:hover .mv-hot-card-overlay {
	opacity: 1;
}

.mv-hot-card {
  margin: 0px 20px 10px;
}

