/*Nav*/
body {  
  margin: 0 240px 0 200px;
  font-family: 'Roboto', sans-serif;
}

a, body {
    color: #32323d;
}

.header {
  margin-top: 17px;
  height: 50px;
  background-color: #cfe8ef26;
  border-bottom: 1px solid #e6e6e6;
}

.top-bar-inner {
    display: flex;
}

.menu-bar {
    top: 70px;
    left: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

ul li {
    text-transform: uppercase;
    margin-right: 15px;
}
a:hover {
  color: #845ce9;
  text-decoration: none;
}
.z-logo {
    background-image: url('https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg');
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 32px;
    background-size: cover;
    font-size: 0px;
    margin-left: 18px;
    margin-right: 25px;
}

.user-profile {
  margin-top: -2px;
  margin-left: 70px;
  display: flex;
}

.fa-user-circle {
  color: #cad0dc;
  margin-right: 5px;
  font-size: 40px;
}

.chevron {
  color: #62666d;
  padding-top: 10px;
}
/*Login Footer */
.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/image/banner.png");
  border-radius: 4px;
  padding: 15px 0;
  margin: 30px 5px;
  font-weight: 700;
}

.login-footer .z-logo {
  background-image: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.login-footer .content {
  color: #fff;
  font-size: 17px;
  margin: 0 113px 0 22px;
}

.login-footer .login-button {
  background-color: #fdd100;
  padding: 4px 12px;
  font-size: 15px;
  color: #fff;
  border-radius: 4%;
  text-transform: uppercase;  
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.login-button:hover {
  color: #6e55b4;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

/* Recent Listen*/
.recent-listen {
  margin-top: 20px;
}

.recent-listen .box-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: column;
}

.column-2 {
  display: flex;
}

.card-img-1 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/8/0/7/7807ecce36bc39abe4d7fc6a9f948234.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.box-album .card-overlay {
  background-color: #000000ba;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.box-album:hover .card-overlay {
  opacity: 1;
}
.far {
  font-size: 50px;
  color: #ffffffe6;
}
.box-album .card-overlay .fa-play-circle {
  transform: scale(0.8);
  transition: all 0.5s;
}
.box-album:hover .card-overlay .fa-play-circle {
  transform: scale(1);
}
.boxcard-info {
  margin-top: 10px;
  margin-bottom: 3px;
}
.boxcard-info {
  font-weight: 500;
}
.box-album {
  margin: 0 40px 0 0;
  width: 190px;
}
.boxcard-info .box-album-title {
  text-decoration: none;
}
.card-img-2 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/8/f/a/58fa09c76ee4ed9fd2e00b2d2ac3f8ac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-3 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/e/b/d/7ebdb5a71ea69e0d94c61d8cbdf94029.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-4 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/0/c/c/e0cc057592f82b208a3f7cf80285e7d3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-5 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/2/8/e/c/28ec8212ea1ade2012f6e8e03df36635.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-6 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/b/b/4/d/bb4d05a07701730462847acabc746bc8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-7 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/b/6/d/3/b6d3f9b17c9a3e7a0ce1ff9edd972b76.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-8 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/c/c/b/9ccbda96115f168b071d7d3faee01121.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-9 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/c/f/3/0/cf307073689e62be353c5af3566bbeff.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-10 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/e/4/4/ae44adda0432b9dd3dcc113d962b4d9b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-11 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/c/5/1/7/c517503186e75955a18de7c5c0635992.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-12 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/6/3/5/7635d3675861a2f9fd1b40565a6a7cc3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-13 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/5/3/6/8/53683d1ee75daec1c925085c28afe8d1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-14 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/covers/f/0/f0f705c66f24235a629b257608058d18_1519804914.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-img-15 {
  height: 190px;
  width: 190px;
  background-image: url("https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/5/b/1/a5b1f6b46679bf8565bd8fdfa5bddf91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
/*Zing chart*/
.zingchart-week {
  margin: 20px 10px;
}
.zingchart-week .row {
  display: flex;
  flex-direction: row;
}
.zchart-card {
	margin: 0 25px 10px 0;
	padding: 0 10px;
}
.zchart-card a {
	display: inline-block;
	overflow: hidden;
}
.zchart-card img{
	width: 242px;
	height: 60px;
	border-radius: 2px;
	transition: transform 0.5s linear;
}
.zchart-card:hover img{
	transform: scale(1.1);
}
/*zing choice artist*/
.col-album-circle {
  display: flex;
  background-image: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/spotlight-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
  height: 150px;
  width: 300px;
  justify-content: center;
  align-items: center;
	margin-right: 10px;
}
.z-choice-img a {
  border-radius: 50%;
	display: inline-block;
	overflow: hidden;
  margin: 0 10px;
}
.z-choice-img a img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
	transition: transform 0.5s ease-in-out;
}
.z-choice-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 20px;
  flex-grow: 1;
}
.spotlight-bag {
  background: rgb(229, 0, 249);
  background: linear-gradient(135deg, rgba(229, 0, 249, 1) 0%, rgba(226, 16, 211, 1) 40%, rgba(89, 31, 205, 1) 100%);
  width: auto;
  height: 16px;
  border-radius: 10%;
  display: flex;
}

.fa-star {
  font-size: 10px;
  align-items: center;
  margin: 2px 2px 2px 4px;
  color: #fff;
}

.spotlight-bag span {
  font-size: 10px;
  align-items: center;
  padding: 1px 5px 0 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.z-choice-artist a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #32323d;
}

.col-album-circle:hover .z-choice-img a img {
  transform: scale(1.1);
}
.active .zingchoice, .carousel-item{
	display: flex;
  flex-direction: row;
}